* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/*Setting to padding 0 and margin 0 so that the logo is in top left hand corner */

body {}

/* Used Flex so that navbar displays side by side and used space between to push them as far apart as possible */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00BFFF;


}

.itpslogo {
    width: 100%;
    height: auto;
    margin: 1.0rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0%;
    display: flex;
}

/* Used list-style:none; to get rid of dots on list */
.navbar-links li {

    list-style: none;

}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 3rem;
    display: block;
    font-size: large;
}